[submodule "external/SharpAL"]
	path = external/SharpAL
	url = https://github.com/OpenCGSS/SharpAL.git
[submodule "external/VGAudio"]
	path = external/VGAudio
	url = https://github.com/Thealexbarney/VGAudio.git
